@import "../assembly";
.account-content {
    .contract-Msg {
        .conract-goodMsg {
            width: 30%;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
        }
        .conract-otherMsg {
            width: 69%;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            .conract-otherMsg-child {
                width: 19.4%;
                display: inline-block;
                vertical-align: middle;
            }
        }
        .conract-goodMsg-td {
            width: 30%;
            text-align: center;
        }
        .conract-otherMsg-td {
            width: 14%;
            text-align: center;
        }
        .contract-Msg-title {
            background-color: $gray-less;
            color: $pos-gray;
            font-size: $small-fontSize * 1.3;
            border: 1px solid $border-gray;
            padding: 10px 0;
            margin-bottom: 8px;
            div {
                text-align: center;
            }
        }
        .contract-Msg-content {
            .conract-Lis-detali {
                margin-bottom: 6px;
                border: 1px solid $border-gray;
                border-bottom: 0 none;
                .conract-Lis-detali-top {
                    background-color: $gray-less;
                    padding: 5px 20px;
                    font-size: $small-fontSize * 1.3;
                    line-height: 2;
                    color: $black;
                    p {
                        margin-right: 10px;
                    }
                }
                .conract-Lis-detali-bottom {
                    font-size: $small-fontSize * 1.2;
                    line-height: 1.6;
                    color: $black;
                    table {
                        width: 100%;
                        tr {
                            border-bottom: 1px solid $border-gray;
                            td {
                                border-right: 1px solid $border-gray;
                                padding: 0 10px;
                            }
                        }
                    }
                    // .conract-goodMsg-td {
                    //     padding: 0 10px;
                    //     padding-left: 26px; 
                    //     .img {
                    //         position: relative;
                    //         overflow: hidden;
                    //         margin: 10px 0;
                    //         width: 48%;
                    //         max-width: 115px;
                    //         img {
                    //             width: 100%;
                    //         }
                    //         p {
                    //             position: absolute;
                    //             bottom: 0;
                    //             left: 0;
                    //             right: 0;
                    //             span {
                    //                 font-size: $small-fontSize * 1.1;
                    //                 line-height: 20px;
                    //             }
                    //         }
                    //     }
                    //     .goods-msg {
                    //         padding: 10px 0 10px 8px;
                    //         width: 48%;
                    //         text-align: left;
                    //         line-height: 2;
                    //         p {
                    //             color: $pos-gray;
                    //             span {
                    //                 &:last-child {
                    //                     color: $black;
                    //                     max-width: 92px;
                    //                 }
                    //             }
                    //         }
                    //     }
                    // }
                    .conract-otherMsg-td {
                        padding: 0 10px;
                        @extend .over;
                        p {
                            max-width: 138px;
                            @extend .over;
                            span {
                                display: inline-block;
                                text-align: left;
                                &:last-child {
                                    @extend .over;
                                    max-width: 68px;
                                }
                            }
                        }
                        &:last-child {
                            border: 0 none;
                        }
                        .layui-btn {
                            padding: 0 15px;
                            line-height: 32px;
                            height: 32px;
                            margin-bottom: 10px;
                            &:last-child {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

// 弹窗内容样式
.blue-smallBtn {
    table {
        width: 100%;
        background-color: #fff;
        font-size: $small-fontSize * 1.3;
        border: 1px solid $border-gray;
        margin-bottom: 32px;
        th,td {
            width: 20%;
            text-align: center
        }
        th {
            background-color: $gray-less;
            color: $pos-gray;
            padding: 10px 10px;
        }
        td {
            padding: 20px 10px;
            p {
                max-width: 122px;
                @extend .over;
                span {
                    max-width: 72px;
                    text-align: left;
                    line-height: 1.6;
                    @extend .over;
                }
            }
        }
    }
    .price {
        text-align: right;
        padding: 0 20px;
        font-size: $small-fontSize * 1.3;
        line-height: 1.6;
    }
    .information {
        font-size: $small-fontSize * 1.4;
        line-height: 2;
        text-align: center;
    }
}